@model IEnumerable<MVC_Layers.Web.ViewModels.KursViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form class="form-horizontal">
    @foreach (var item in Model)
    {

        <div class="form-group">
            @Html.LabelFor(m => item.Code, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <p class="form-control-static">@item.Code</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => item.StartZeit, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <p class="form-control-static">@item.StartZeit</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => item.EndZeit, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <p class="form-control-static">@item.EndZeit</p>
            </div>
        </div>
    }

</form>